<!DOCTYPE html>


<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<!-- Head -->
<head th:replace="fragments/style :: head"></head>
<!-- /Head -->
<!-- Body -->
<body>
<!-- Head -->
<div th:replace="fragments/sidemenu :: div"></div>
<!--Header Buttons End-->
<!-- Page Content -->
<div class="page-content">
    <!-- Page Breadcrumb -->
    <div class="page-breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="/index">Home</a>
            </li>
            <li>
                <a href="/contract/">Contracts</a>
            </li>
            <li class="active">view</li>
        </ul>
    </div>
    <div class="page-body">
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-xs-12">
                <div class="well invoice-container">
                    <div class="row">
                        <div class="col-xs-6">
                            <h3 class="">
                                <i class="fa fa-check"></i>
                                Contract Details
                            </h3>

                        </div>
                        <div class="col-xs-6 text-right">
                            <h1>
                                <!--<a href="">-->
                                    <!--<img src="/assets/img/logo43.png" alt=""-->
                                         <!--style="width:200px; height:45px; margin-right:-17px"/>-->
                                <!--</a>-->
                            </h1>
                            <div>
                                <span>Contract:#</span>
                                <span th:text="${contract.id}"></span>
                                <span> | </span>
                                <span>Date:</span>
                                <span th:text="${contract.startDate}"></span>
                                <span> | </span>
                                <a href="#">
                                    <i class="glyphicon glyphicon-print carbon"></i>
                                </a>
                            </div>
                            <div class="horizontal-space"></div>


                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-5">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h6 class="row-title before-green"><strong>Basic Info.</strong></h6>
                                </div>
                                <div class="panel-body">
                                    <ul>
                                        <li>Contract Number: <span th:text="${contract.accountNo}"></span></li>
                                        <li>Company Name: <span th:text="${contract.companyName}"></span></li>
                                        <li>Contract Type: <span th:text="${contract.type}"></span></li>
                                        <li>Contract Start Date: <span th:text="${contract.startDate}"></span></li>
                                        <li>Contract Duration (Years): <span th:text="${contract.duration}"></span></li>
                                        <li>Status: <span th:text="${contract.status}"></span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-7 ">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h6 class="row-title before-blue"><strong>Contact Info.</strong></h6>
                                </div>
                                <div class="panel-body">
                                    <ul th:each="p : *{contract.contact}">
                                        <li>First Name: <span th:text="${p.firstName}"></span></li>
                                        <li>Last Name: <span th:text="${p.lastName}"></span></li>
                                        <li>Phone Number: <span th:text="${p.phoneNumber}"></span></li>
                                        <li>Email : <span th:text="${p.emailAddress}"></span></li>
                                        <li>Location: <span th:text="${p.country}"></span>, <span
                                                th:text="${p.city}"></span>, <span th:text="${p.address}"></span></li>
                                        <li>Zip Code: <span th:text="${p.zipCode}"></span></li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div> <!-- / end client details section -->

                    <hr class="wide"/>
                    <div class="row">
                        <div class="col-xs-5">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h6 class="row-title before-orange"><strong>Profile/Services</strong></h6>
                                </div>
                                <div class="panel-body">
                                    <ul>
                                        <li>Shop area <span th:text="${contract.area}"></span></li>
                                        <li>Contract Services:
                                            <ul style="padding-left: 106px;">
                                                <li th:each="p : *{contract.packages}">
                                                    <span th:text="${p.name}"></span>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-7" th:if="${contract.hardCopyPath != null}">
<!--                        <div class="col-xs-5" th:if="${contract.hardCopyPath != null}"> -->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h6 class="row-title before-pink"><strong>Contract Copy</strong></h6>
                                </div>
                                <div class="panel-body">
                                    <div class="mail-attachments">
                                        <ul>
                                            <li>
                                                <a th:href="@{|/contract/file/download?id=${contract.id}|}" class="thumb">
                                                    <img src="/assets/img/downloadFile.png" style="height: 100px;">
                                                </a>
                                                <div>
                                                    <br>
                                                </div>
                                                <div class="links">
                                                    <a class="btn btn-follow" th:href="@{'/assets/uploadedFiles/' + ${contract.hardCopyPath}}" target="_blank">View</a>
                                                    <a class="btn btn-follow" th:href="@{|/contract/file/download?id=${contract.id}|}">Download</a>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <hr class="wide" th:if="${not #lists.isEmpty(contract.mags)}"/>
                    <div class="panel panel-default" th:if="${not #lists.isEmpty(contract.mags)}">
                        <div class="panel-heading">
                            <h6 class="row-title before-gold"><strong>MAG Details</strong></h6>
                        </div>
                            <table class="table table-bordered table-striped">
                                <thead>
                                <tr>
                                    <th><h5 class="no-margin-bottom">Mag Amount</h5></th>
                                    <th><h5 class="no-margin-bottom">Valid From</h5></th>
                                    <th><h5 class="no-margin-bottom">valid To</h5></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="m : *{contract.mags}">
                                    <td th:text="${m.amount}"></td>
                                    <td th:text="${m.validFrom}"></td>
                                    <td th:text="${m.validTo}"></td>
                                </tr>
                                </tbody>
                            </table>
                    </div>

                    <hr class="wide"/>
                    <div class="row" th:if="${currentUser.roles[0].role == 'ADMIN' && contract.status=='PENDING'}">
                        <div class=".col-xs-12 .col-md-8"></div>
                        <div class=".col-xs-6 .col-md-4" style="float:right;">
                            <a class="btn btn-danger" th:href="@{'/contract/' +${contract.id} +'/reject'}"><i
                                    class="fa fa-times"></i> Rejected</a>
                            <a class="btn btn-success" th:href="@{'/contract/' +${contract.id} +'/approve'}">Approve <i
                                    class="fa fa-check right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/scripts :: script"></div>


</body>
<!--  /Body -->
</html>
