<!DOCTYPE html>


<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<!-- Head -->
<head th:replace="fragments/style :: head"></head>
<!-- /Head -->
<!-- Body -->
<body>
<!-- Head -->
<div th:replace="fragments/sidemenu :: div"></div>
<!--Header Buttons End-->
<!-- Page Content -->
<div class="page-content">
	<!-- Page Breadcrumb -->
	<div class="page-breadcrumbs">
		<ul class="breadcrumb">
			<li class="active">
				<i class="fa fa-home"></i>
				<a href="#">Home</a>
			</li>
		</ul>
	</div>
	<div class="page-body">
		<div class="row">

		</div>
	</div>
</div>
<div th:replace="fragments/scripts :: script"></div>


</body>
<!--  /Body -->
</html>
