<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<!--Head-->
<head>
    <meta charset="utf-8" />
    <title>Register Page</title>

    <meta name="description" content="register page" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" href="assets/img/favicon.png" type="image/x-icon">

    <!--Basic Styles-->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet" />
    <link id="bootstrap-rtl-link" href="" rel="stylesheet" />
    <link href="assets/css/font-awesome.min.css" rel="stylesheet" />

    <!--Fonts-->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,600,700,300" rel="stylesheet" type="text/css">

    <!--Beyond styles-->
    <link id="beyond-link" href="assets/css/beyond.min.css" rel="stylesheet" />
    <link href="assets/css/demo.min.css" rel="stylesheet" />
    <link href="assets/css/animate.min.css" rel="stylesheet" />
    <link id="skin-link" href="" rel="stylesheet" type="text/css" />

    <!--Skin Script: Place this script in head to load scripts for skins and rtl support-->
    <script src="assets/js/skins.min.js"></script>
</head>
<!--Head Ends-->
<!--Body-->
<body>
    <div class="register-container animated fadeInDown">
        <div class="registerbox bg-white" style="height: 380px !important;">
            <div class="registerbox-title">Register</div>
<form th:action="@{/register}"
      th:object="${user}" method="post">
            <div class="registerbox-caption ">Please fill in your information</div>
            <div class="registerbox-textbox">
                <input type="text" th:field="*{name}" required="required" class="form-control" placeholder="Username" />
                <label th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
                       class="validation-message"></label>
            </div>
            <div class="registerbox-textbox">
                <input th:field="*{email}" required="required" type="email" class="form-control" placeholder="Email" />
                <label th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
                        class="validation-message"></label>
            </div>
            <div class="registerbox-textbox">
                <input type="password" th:field="*{password}" required="required" class="form-control" placeholder="Enter Password" />
                <label th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
                        class="validation-message"></label>
            </div>

            <div class="registerbox-textbox no-padding-bottom">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" class="colored-primary" checked="checked">
                        <span class="text darkgray">I agree to the Company <a class="themeprimary">Terms of Service</a> and Privacy Policy</span>
                    </label>
                </div>
            </div>
            <div class="registerbox-textbox">
                <input type="submit" class="btn btn-primary pull-right" value="SUBMIT" style="width:100%">
            </div>
    <br>
            <div style="text-align: center;padding-top: 10px;">
                <a href="login" style="    font-size: 13px;color: #666;">Go and login</a>
        </div>
</form>
        </div>
        <div class="logobox">
        </div>
    </div>


    <!--Basic Scripts-->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/slimscroll/jquery.slimscroll.min.js"></script>

    <!--Beyond Scripts-->
    <script src="assets/js/beyond.min.js"></script>
    
</body>
<!--Body Ends-->
</html>
